body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color:skyblue;
    margin: 0;
}

.container {
    text-align: center;
    padding: 20px;
    background-color:pink;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding:50px;
    

}

button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
}

button:hover {
    background-color: #0056b3;
}
input{
    height: 25px;
    font-size: 20px;
  }
  button:hover {
    background-color:skyblue;
    color: white;
  }
  